<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="assets/companyLogo/apple1.png" height="80" width="120" alt="apple" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/asus2.png" height="100" width="150" alt="asus" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/lenovo3.png" height="100" width="150" alt="lenovo" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/nokia4.png" height="100" width="150" alt="nokia" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/samsung5.png" height="100" width="150" alt="samsung" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/mi6.png" height="90" width="150" alt="mi" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/vivo7.png" height="80" width="150" alt="vivo" />
    </div>
    <div class="slide">
			<img src="assets/companyLogo/oppo8.png" height="100" width="150" alt="oppo" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/apple1.png" height="80" width="120" alt="apple" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/asus2.png" height="100" width="150" alt="asus" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/lenovo3.png" height="100" width="150" alt="lenovo" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/nokia4.png" height="100" width="150" alt="nokia" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/samsung5.png" height="100" width="150" alt="samsung" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/mi6.png" height="90" width="150" alt="mi" />
		</div>
		<div class="slide">
			<img src="assets/companyLogo/vivo7.png" height="80" width="150" alt="vivo" />
    </div>
    <div class="slide">
			<img src="assets/companyLogo/oppo8.png" height="80" width="150" alt="oppo" />
		</div>
	</div>
</div>

