<div class="container">
    <div class="card">
        <h1>Product Details</h1>
     <span style="font-weight: bold;">Comapany Name : </span><p>{{product && product.Company.Name}}</p>
     <span style="font-weight: bold;">Category Name : </span><p>{{product && product.Category.Name}}</p>
     <span style="font-weight: bold;">Model Name : </span><p>{{product && product.ModelName}}</p>
     <span style="font-weight: bold;">Specification :</span><pre>{{product && product.Specification}}</pre>
    </div>
</div>