<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/619iTNHSCGL._SL1500_.jpg" />
        <div class="card-block">
          <h4 class="card-title">OnePlus 8</h4>
          <div class="card-text">Glacial Green 12GB RAM+256GB Storage ,Memory, Storage & SIM: 12GB RAM | 256GB internal memory | Dual SIM (nano+nano) dual-standby (5G+5G) 16.637 centimeters (6.55-inch) 90Hz fluid display with 2400 x 1080 pixels resolution, 402 ppi pixel density</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71h%2BC9wJCjL._SL1500_.jpg" />
        <div class="card-block">
          <h4 class="card-title">Redmi 8A Dual </h4>
          <div class="card-text">13+2MP dual rear AI camera with PDAF | 8MP front camera, Memory, Storage & SIM: 3GB | 32GB internal memory expandable up to 512GB with dedicated memory card slot | Dual SIM (nano+nano) dual-standby (4G+4G), 5000mAH lithium-polymer battery</div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/8121-n8-ekL._SL1500_.jpg" />
        <div class="card-block">
          <h4 class="card-title">OPPO Reno2 F</h4>
          <div class="card-text">48+8+2+2MP rear camera with photo, video, professional mode, panorama, portrait, night scene, time-lapse photography, slow motion and 16MP front facing camera Memory, Storage & SIM: 8GB RAM | 128GB internal memory expandable up to 128GB </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61m6DjujESL._SL1024_.jpg" />
        <div class="card-block">
          <h4 class="card-title">Apple iPhone 11 Pro</h4>
          <div class="card-text">5.8-inch (14.7 cm) Super Retina XDR OLED display, Water and dust resistant (4 meters for up to 30 minutes, IP68),Triple-camera system with 12MP Ultra Wide, Wide, and Telephoto cameras; Night mode, Portrait mode, and 4K video up to 60fps </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card card-inverse card-primary">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61KfjV%2B40QL._SL1500_.jpg" />
        <blockquote class="card-blockquote p-3">
          <h4 class="card-title mt-3">Nokia 5.3</h4>
          <p>
            Capture a whole range of new angles with the quad camera and ultra-wide 118° lens Shoot like a pro with advanced AI imaging to bring your nighttime and portrait shots to life
          </p>
        </blockquote>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card card-inverse card-primary">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71bTTLZdeIL._SL1500_.jpg" />
        <blockquote class="card-blockquote p-3">
          <h4 class="card-title mt-3">realme 5 Pro</h4>
          <p>
            48MP+8MP+2MP+2MP rear camera | 16MP front camera 16.002 centimeters (6.3-inch) Full HD+ capacitive touchscreen with 1080 x 2340 pixels resolution, 409 ppi pixel density
          </p>
        </blockquote>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card card-inverse card-primary">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61FRLa8IFTL._SL1500_.jpg" />
        <blockquote class="card-blockquote p-3">
          <h4 class="card-title mt-3">OnePlus 7T Pro</h4>
          <p>
            48+8+16MP triple rear camera with telephoto lens 16MP front camera with 4K video capture, ultrashot, nightscape, portrait, pro mode, panorama, HDR, AI scene detection, RAW image
          </p>
        </blockquote>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="card card-inverse card-primary">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/71tBQRJKdWL._SL1200_.jpg" />
        <blockquote class="card-blockquote p-3">
          <h4 class="card-title mt-3">Vivo X50 Pro</h4>
          <p>
            48+13+8+8MP rear camera | 32MP front camera 16.66 centimeters (6.56 inch) curved ultra O display with 1080 x 2376 pixels resolution Memory, Storage & SIM: 8GB RAM | 256GB internal memory
          </p>
        </blockquote>
      </div>
    </div>
  </div>
</div>
