

<div class="row">
  <div class="col-12 text-center">
    <h1
      style="
        font-family: Arial, Helvetica, sans-serif;
        color:  rgb(255, 136, 0);
        font-weight: bold;
      "
    >
      Natraj Mobile, Rahuri
    </h1>
    <p style="color: rgb(255, 136, 0); font-weight: bold">
      Mobile Store in Rahuri MOBILES, ACCESSORIES, REAPPEARING <br />
      Open today until 09:00 PM
    </p>
  </div>
  <app-sliding></app-sliding><br />

  <div>
    <app-carousel></app-carousel>
  </div>
  <app-card></app-card>

</div>
